.table{
    margin-top: 20px;
    overflow: scroll;
    height:400px;
    color: #6a5d5d;
}

.table tr{
    display:flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}
.country-flag{
    height:26px;
    width:38px;
    border-radius: 10%;
}
.table tr:nth-of-type(odd){
  background-color: #f3f3f8;
}
